# Project proposal

---

Group name: D

---

## Introduction

The introduction section includes

-   an introduction to the subject matter you're investigating: <br>
Die Arbeitslosigkeit ist ein Indikator für die Situation auf dem Arbeitsmarkt. Die Zahl der Erwerbslosen gibt Auskunft über die Arbeitslosigkeit und ist nicht nur deutschlandweit von Interesse. Im Rahmen dieses Projektes soll untersucht werden, mit welchen soziodemographischen Merkmalen die Erwerbslosigkeit beziehungsweise Erwerbstätigkeit in Deutschland assoziiert. Im Rahmen dieses Projekt verwenden wir die Arbeitslosenquote als Synonym für die Erwerbslosenquote.

-   the motivation for your research question: <br>
Wie in der Introduction erwähnt, ist die Zahl der Erwerbslosen eine Auskunft über die Arbeitslosigkeit im Allgemeinen. *(vgl. Sauermann, Jan (2005) : Registrierte Arbeitslosigkeit oder Erwerbslosigkeit: Gibt es das bessere Messkonzept?)*.
Laut der Bundeszentrale für politische Bildung, ist die Arbeitslosenquote bei Ausländer höher, als bei den deutschen Erwerbspersonen. *(vgl. Arbeitslosenquoten nach Geschlecht und Staatsangehoerigkeit, bpb, 2021)*. Zudem gilt laut der Bundeszentrale für politische Bildung, dass mit einem höheren Bildungsstand, das Risiko arbeitslos zu werden, geringer ist. *(vgl. Arbeitslosenquoten nach Bildung und Alter, bpb, 2021)*. Die beiden Aussagen motivieren uns, diese anhand der Zensus-Daten aus dem Jahr 2011 nachzuvollziehen beziehungsweise zu widerlegen.

-   the general research question you wish to explore <br>
Mithilfe des Projekts soll folgende Frage untersucht werden: **Gibt es einen Zusammenhang zwischen den soziodemografischen Merkmalen
und der Arbeitslosenrate?**

-   your hypotheses regarding the research question of interest: <br>
Unserer Meinung nach gibt es je nach *Explanatory Varibale* einen Zusammenhang. Den vermutlich stärksten positiven Zusammenhang wird es zwischen Schulabschluss/Bildungsstand, Migrationshintergrund und Alter geben.<br><br>


## Data description

In this section, you will describe the data set you wish to explore. This includes

-   description of the observations in the data set,

Der ursprüngliche Datensatz enthält 12.543 Zeilen sowie 224 Spalten. 55 Spalten wurden als Float, 19 Spalten als Integer und 150 Spalten als Object identifiziert, was bedeutet, dass Pandas in 150 Spalten nicht eindeutige Datentypen erkannt hat. Dies können z.B. Texte, gemischte numerische Werte oder nicht numerische Werte sein. (Vgl. Practical Business Python, 2018).  

Zudem haben nicht alle Gemeinden vollständige Angaben zu den soziodemografischen Variablen, da vor allem kleinere Gemeinden nicht alle Informationen bereitstellen können, wie z.B. Angaben zum Migrationshintergrund. Beispielsweise sind zu der Gemeinde Buchholz weder Angaben zu Personen ohne Migrationshintergrund noch zu Personen mit Migrationshintergrund hinterlegt.

Für das weitere Vorgehen, werden wir den ursprünglichen Datensatz, um Spalten, welche für das Projekt nicht relevant sind kürzen damit der Datensatz übersichtlicher wird.  


-   description of how the data was originally collected (not how you found the data but how the original curator of the data collected it).

Die Daten stammen aus der Zensus Umfrage, welche 2011 durchgeführt wurde. Der Zensusstichtag war der 09. Mai 2011. Der Zensus ist eine gesetzlich angeordnete Erhebung statistischer Bevölkerungsdaten. Dabei handelt es sich um einen registergestützten Zensus. Das bedeutet, es müssen nicht wie bei einer traditionellen Volkszählung alle Bürgerinnen und Bürger befragt werden, da die meisten Daten bereits in den Registern der Verwaltung vorliegen, etwa im Einwohnermeldeamt.
Um Ungenauigkeiten in der Statistik herauszurechnen, werden weniger als zehn Prozent der Bevölkerung in einem kurzen Interview befragt. Diese Stichprobenbefragung ist außerdem notwendig, um Daten zu erheben, die nicht in den Registern vorliegen, wie z.B. Angaben zu Bildung und Ausbildung oder zur Erwerbstätigkeit.
Da es für Wohnungen und Gebäude auch keine flächendeckenden Register gibt, werden die etwa 17,5 Mio. Besitzerinnen und Besitzer von Eigentumswohnungen oder Wohngebäuden in Deutschland postalisch befragt. Eine weitere Befragung betrifft Wohnheime (z.B. Studierendenwohnheime) und Gemeinschaftsunterkünfte (z.B. Alten-/Pflegeheime und Kinder-/Jugendheime). An diesen Anschriften sind die Register besonders ungenau, weil es häufig zu Umzügen kommt.
Nichtsdestotrotz liefert der registergestützte Zensus verlässliche Ergebnisse für ganz Deutschland, obwohl nicht alle Menschen in Deutschland befragt werden. (Vgl. Statistische Ämter des Bundes und der Länder, (2015)).
[Zensus 2011](Zensus%202011%20-%20Methoden%20und%20Verfahren.pdf)


## Analysis approach

In this section, you will provide a brief overview of your analysis approach. This includes:

-   Description of the response variable.

«Arbeitslosenquoten zeigen die relative Unterauslastung des Arbeitskräfteangebots an, indem sie die (registrierten) Arbeitslosen zu den Erwerbspersonen (EP = Erwerbstätige + Arbeitslose) in Beziehung setzen.» (Vgl. Bundesagentur für Arbeit, 2022). Um die Antwort Variable berechnen zu können, benötigen wir in unserem Dataset die Spalten mit der Spaltenbezeichnung «Erwerbstätige zusammen» sowie «Erwerbslose zusammen». 

-   Visualization and summary statistics for the response variable.

Einen ersten Draft unserer Antwortvariablen "Arbeitslosenquote" haben wir anhand einer Pivottabelle dargestellt. Dabei haben wir die "Erwerbstätigen zusammen", die "Erwerbslosen zusammen" sowie die "Erwerbspersonen" auf Bundeslandebene gegenübergestellt. 

Die Berechnung der Arbeitlosenquote auf Bundeslandebene zeigt, dass Bayern mit einer Arbeitslosenquote von 2.85% die niedrigste relative Arbeitslosigkeit hat wohingegen Berlin mit 8.56% die grösste relative Arbeitslosigkeit aufweist. Die Arbeitslosenquote der Bundesrepublik Deutschland betrug auf Grundlage der Zensusdaten 2011 4.65%.

![Response Variable](images/Response%20Variable.PNG)


Die grafische Darstellung wird mittels eines Liniendiagramms dargestellt.

![Response Variable Graph](images/Response%20Variable%20Graph.PNG)

Die Spalte "Erwerbspersonen zusammen" wird mit der Bezeichnung "ERW_1.4" abgekürzt.
Die Spalte "Erwerbstätigen zusammen" wird mit der Bezeichnung "ERW_1.7" abgekürzt.
Die Spalte "Erwerbslose zusammen" wird mit der Bezeichnung "ERW_1.10" abgekürzt.

In [20]:
import pandas as pd

In [22]:
df = pd.read_csv("csv_Bevoelkerung/Zensus11_Datensatz_Bevoelkerung.csv", delimiter= ";")
df.describe().T

C:\Users\NGE02\AppData\Local\Temp\ipykernel_11604\64792656.py:1: DtypeWarning: Columns (0,106,113,125,126,129,131,134,142,143,156,157,158,165,166,169,176,177,181,182,185,186,190,192,202,207,221) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("csv_Bevoelkerung/Zensus11_Datensatz_Bevoelkerung.csv", delimiter= ";")

,count,mean,std,min,25%,50%,75%,max
RS_Land,12544.0,8.265226,4.315163e+00,0.0,6.00,8.0,12.00,16.0
RS_RB_NUTS2,12527.0,2.118943,2.172226e+00,0.0,0.00,1.0,3.00,9.0
RS_Kreis,12501.0,52.186065,1.926660e+01,0.0,35.00,55.0,69.00,91.0
RS_VB,12089.0,3867.359997,2.274057e+03,0.0,310.00,5006.0,5309.00,9501.0
RS_Gem,11339.0,92.486198,9.972833e+01,0.0,23.00,63.0,128.50,710.0
AEWZ,12544.0,30862.238361,7.675691e+05,11.0,697.75,2084.0,7123.75,80219695.0
DEM_1.1,12544.0,30862.235651,7.675691e+05,9.0,697.00,2083.0,7123.75,80219695.0
DEM_2.1,12544.0,30862.235651,7.675691e+05,9.0,697.00,2083.0,7123.75,80219695.0
DEM_3.1,12544.0,30862.235651,7.675691e+05,9.0,697.00,2083.0,7123.75,80219695.0
DEM_4.1,12544.0,30862.235651,7.675691e+05,9.0,697.00,2083.0,7123.75,80219695.0
DEM_5.1,12544.0,30862.235651,7.675691e+05,9.0,697.00,2083.0,7123.75,80219695.0
DEM_6.1,12544.0,30862.235651,7.675691e+05,9.0,697.00,2083.0,7123.75,80219695.0
REL_1.1,12544.0,30862.235651,7.675691e+05,9.0,697.00,2083.0,7123.75,80219695.0
MIG_1.1,2187.0,163637.174211,1.819854e+06,6700.0,13500.00,21060.0,64285.00,79652360.0
MIG_1.2,2187.0,130881.243713,1.463863e+06,6030.0,11260.00,17600.0,52975.00,64354900.0
ERW_1.1,2187.0,163636.378601,1.819849e+06,6690.0,13495.00,21080.0,64265.00,79652120.0
ERW_1.2,2187.0,79690.864198,8.870090e+05,3330.0,6590.00,10240.0,31155.00,38828790.0
ERW_1.3,2187.0,83945.386374,9.328423e+05,3360.0,6890.00,10900.0,33155.00,40823330.0
ERW_1.4,2187.0,88291.572931,9.831959e+05,3660.0,7275.00,11290.0,34600.00,43052760.0
ERW_1.5,2187.0,46870.507545,5.222804e+05,1910.0,3895.00,6030.0,18130.00,22864070.0
ERW_1.6,2187.0,41421.028807,4.609221e+05,1740.0,3405.00,5330.0,16240.00,20188680.0
ERW_1.7,2187.0,84194.119799,9.378278e+05,3480.0,7050.00,10890.0,32445.00,41049730.0
ERW_1.8,2187.0,44670.411523,4.979313e+05,1820.0,3755.00,5830.0,17185.00,21788730.0
ERW_1.9,2187.0,39523.694559,4.399038e+05,1660.0,3290.00,5120.0,15360.00,19261000.0
ERW_1.13,2187.0,75344.833105,8.368045e+05,3030.0,6235.00,9900.0,29825.00,36599370.0
ERW_1.14,2187.0,32820.347508,3.647786e+05,1420.0,2730.00,4280.0,12890.00,15964720.0
ERW_1.15,2187.0,42524.554184,4.720324e+05,1620.0,3510.00,5590.0,17165.00,20634650.0
ERW_2.1,2187.0,84194.119799,9.378278e+05,3480.0,7050.00,10890.0,32445.00,41049730.0
ERW_2.2,2187.0,70246.241427,7.819751e+05,2870.0,5900.00,9150.0,27140.00,34241630.0
ERW_3.1,2187.0,82396.556927,9.179370e+05,3440.0,6895.00,10680.0,31780.00,40179710.0
ERW_3.3,2187.0,14531.691815,1.604820e+05,350.0,980.00,1620.0,4835.00,6986700.0
ERW_3.4,2187.0,15709.067215,1.751459e+05,620.0,1340.00,2060.0,5935.00,7663850.0
ERW_3.5,2187.0,11192.181070,1.245524e+05,380.0,930.00,1450.0,4260.00,5434530.0
ERW_3.6,2187.0,12749.542753,1.421215e+05,460.0,1050.00,1670.0,5130.00,6233890.0
ERW_3.8,2187.0,10331.042524,1.163121e+05,130.0,950.00,1490.0,3885.00,5107070.0
ERW_4.1,2187.0,84194.119799,9.378278e+05,3480.0,7050.00,10890.0,32445.00,41049730.0
ERW_4.10,2187.0,39637.421125,4.398078e+05,1490.0,3130.00,4900.0,14770.00,19257330.0
BIL_2.1,2187.0,19234.174668,2.143827e+05,580.0,1680.00,2640.0,7330.00,9317050.0
BIL_2.2,2187.0,6364.837677,7.109491e+04,190.0,550.00,850.0,2450.00,3104280.0
BIL_2.3,2187.0,10061.015089,1.122129e+05,260.0,890.00,1390.0,3710.00,4873280.0
BIL_3.1,2187.0,19234.174668,2.143827e+05,580.0,1680.00,2640.0,7330.00,9317050.0
BIL_3.2,2187.0,6164.887974,6.886368e+04,190.0,530.00,830.0,2350.00,3006660.0
BIL_4.1,2187.0,141515.212620,1.573632e+06,5760.0,11590.00,18290.0,55735.00,68909110.0
BIL_4.2,2187.0,10312.578875,1.142032e+05,230.0,725.00,1250.0,3980.00,4932710.0
BIL_4.5,2187.0,50339.469593,5.633306e+05,1270.0,4620.00,7140.0,19480.00,24513350.0
BIL_4.6,2187.0,40160.347508,4.498742e+05,1820.0,3455.00,5710.0,15515.00,19908050.0
BIL_4.7,2187.0,37352.222222,4.190595e+05,1660.0,3175.00,5310.0,14420.00,18568560.0
BIL_4.9,2187.0,11468.468221,1.273104e+05,350.0,900.00,1480.0,4445.00,5531480.0
BIL_4.10,2187.0,29234.170096,3.221477e+05,610.0,1790.00,3070.0,9380.00,14023530.0
BIL_5.1,2187.0,141515.212620,1.573632e+06,5760.0,11590.00,18290.0,55735.00,68909110.0
BIL_5.2,2187.0,38167.302241,4.232944e+05,1020.0,2975.00,4850.0,14195.00,18383890.0
BIL_5.3,2187.0,64813.315043,7.242804e+05,2410.0,5760.00,9030.0,25880.00,31804990.0
BIL_5.4,2187.0,14890.054870,1.663865e+05,560.0,1295.00,2060.0,5610.00,7321610.0
BIL_5.6,2187.0,8176.268861,9.070247e+04,130.0,620.00,1050.0,3025.00,3985640.0


-   List of variables that will be considered as predictors

Migrationshintergrund,
Religionszugehörigkeit,
Alter,
Altersgruppe,
Schulabschluss/Bildungsgrad,
Familienstand


-   Your model type (what kind of model(s) will you use ... e.g. linear regression)

Bei den numerischen Werten, wie Alter, werden wir ein Lineares Regressionsmodell verwenden. 

Bei den kategorialen Werten, wie z.B. Religionszugehörigkeit, Migrationshintergrund, Familienstand und Schulabschluss, werden wir die Ergebnisse in einem Boxplot darstellen. Auf der Y-Achse wird die Arbeitslosenquote und auf der X-Achse werden die multiplen Kategorien dargestellt.   


[def]: attachment:image.png

## Data dictionary

**Data Dictionary ist am Ende zu finden. Zum Teil sind die Format als 'object' definiert, da manche Zellen leer sind oder einen '/' als Inhalt haben. Daher können nicht alle als Integer oder Float defniert werden.**

In [102]:
import pandas as pd
from pandas import DataFrame
def left_align(df: DataFrame):
    left_aligned_df = df.style.set_properties(**{'text-align': 'left'})
    left_aligned_df = left_aligned_df.set_table_styles(
        [dict(selector='th', props=[('text-align', 'left')])]
    )
    return left_aligned_df
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', None)

In [103]:
df = pd.read_csv("csv_Bevoelkerung/Zensus11_Datensatz_Bevoelkerung.csv", delimiter= ";")

/var/folders/k5/1ngg2lrs0p51m_z5s1q72vv00000gn/T/ipykernel_80015/1075381036.py:1: DtypeWarning: Columns (0,106,113,125,126,129,131,134,142,143,156,157,158,165,166,169,176,177,181,182,185,186,190,192,202,207,221) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("csv_Bevoelkerung/Zensus11_Datensatz_Bevoelkerung.csv", delimiter= ";")

In [104]:
df_beschreibung = pd.read_csv('Datensatzbeschreibung.csv', sep=';')

In [105]:
df_t = df.dtypes.to_frame('Format')

In [106]:
df_t = df_t.rename(columns={0:'Name'})

In [107]:
df_t = df_t.reset_index()

In [108]:
df_t = df_t.rename(columns={"index":'Name'})

In [109]:
df_info = pd.merge(df_beschreibung,df_t,'left')

In [110]:
left_align(df_info)

In [111]:
df_info.to_csv('data_dictionary.csv')