# Draft analysis 

---

Group name:

---

## Introduction

*This section includes an introduction to the project motivation, data, and research question. Include a data dictionary*

## Setup

In [38]:
import pandas as pd
import altair as alt
import numpy as np
from pandas import DataFrame
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

#### Definition für linksbündiger Darstellung

In [ ]:
def left_align(df: DataFrame):
    left_aligned_df = df.style.set_properties(**{'text-align': 'left'})
    left_aligned_df = left_aligned_df.set_table_styles(
        [dict(selector='th', props=[('text-align', 'left')])]
    )
    return left_aligned_df

## Data

## Import data

In [48]:
df_bevoelkerung = pd.read_csv(
    '../references/csv_Bevoelkerung/Zensus11_Datensatz_Bevoelkerung.csv',
    delimiter=';',
    dtype={
        'AGS_12': 'category',
        'RS_Land': 'category',
        'RS_RB_NUTS2': 'category',
        'RS_Kreis': 'category',
        'RS_VB': 'category',
        'RS_Gem': 'category',
        'Name': 'category',
        'Reg_Hier': 'category'
    }
)

/var/folders/k5/1ngg2lrs0p51m_z5s1q72vv00000gn/T/ipykernel_86681/3067287871.py:1: DtypeWarning: Columns (106,113,125,126,129,131,134,142,143,156,157,158,165,166,169,176,177,181,182,185,186,190,192,202,207,221) have mixed types. Specify dtype option on import or set low_memory=False.
  df_bevoelkerung = pd.read_csv(

### Data structure

In [49]:
df_bevoelkerung.describe()

,AEWZ,DEM_1.1,DEM_2.1,DEM_3.1,DEM_4.1,DEM_5.1,DEM_6.1,REL_1.1,MIG_1.1,MIG_1.2,...,BIL_4.5,BIL_4.6,BIL_4.7,BIL_4.9,BIL_4.10,BIL_5.1,BIL_5.2,BIL_5.3,BIL_5.4,BIL_5.6
count,1.254400e+04,1.254400e+04,1.254400e+04,1.254400e+04,1.254400e+04,1.254400e+04,1.254400e+04,1.254400e+04,2.187000e+03,2.187000e+03,...,2.187000e+03,2.187000e+03,2.187000e+03,2.187000e+03,2.187000e+03,2.187000e+03,2.187000e+03,2.187000e+03,2.187000e+03,2.187000e+03
mean,3.086224e+04,3.086224e+04,3.086224e+04,3.086224e+04,3.086224e+04,3.086224e+04,3.086224e+04,3.086224e+04,1.636372e+05,1.308812e+05,...,5.033947e+04,4.016035e+04,3.735222e+04,1.146847e+04,2.923417e+04,1.415152e+05,3.816730e+04,6.481332e+04,1.489005e+04,8.176269e+03
std,7.675691e+05,7.675691e+05,7.675691e+05,7.675691e+05,7.675691e+05,7.675691e+05,7.675691e+05,7.675691e+05,1.819854e+06,1.463863e+06,...,5.633306e+05,4.498742e+05,4.190595e+05,1.273104e+05,3.221477e+05,1.573632e+06,4.232944e+05,7.242804e+05,1.663865e+05,9.070247e+04
min,1.100000e+01,9.000000e+00,9.000000e+00,9.000000e+00,9.000000e+00,9.000000e+00,9.000000e+00,9.000000e+00,6.700000e+03,6.030000e+03,...,1.270000e+03,1.820000e+03,1.660000e+03,3.500000e+02,6.100000e+02,5.760000e+03,1.020000e+03,2.410000e+03,5.600000e+02,1.300000e+02
25%,6.977500e+02,6.970000e+02,6.970000e+02,6.970000e+02,6.970000e+02,6.970000e+02,6.970000e+02,6.970000e+02,1.350000e+04,1.126000e+04,...,4.620000e+03,3.455000e+03,3.175000e+03,9.000000e+02,1.790000e+03,1.159000e+04,2.975000e+03,5.760000e+03,1.295000e+03,6.200000e+02
50%,2.084000e+03,2.083000e+03,2.083000e+03,2.083000e+03,2.083000e+03,2.083000e+03,2.083000e+03,2.083000e+03,2.106000e+04,1.760000e+04,...,7.140000e+03,5.710000e+03,5.310000e+03,1.480000e+03,3.070000e+03,1.829000e+04,4.850000e+03,9.030000e+03,2.060000e+03,1.050000e+03
75%,7.123750e+03,7.123750e+03,7.123750e+03,7.123750e+03,7.123750e+03,7.123750e+03,7.123750e+03,7.123750e+03,6.428500e+04,5.297500e+04,...,1.948000e+04,1.551500e+04,1.442000e+04,4.445000e+03,9.380000e+03,5.573500e+04,1.419500e+04,2.588000e+04,5.610000e+03,3.025000e+03
max,8.021970e+07,8.021970e+07,8.021970e+07,8.021970e+07,8.021970e+07,8.021970e+07,8.021970e+07,8.021970e+07,7.965236e+07,6.435490e+07,...,2.451335e+07,1.990805e+07,1.856856e+07,5.531480e+06,1.402353e+07,6.890911e+07,1.838389e+07,3.180499e+07,7.321610e+06,3.985640e+06

### Data corrections

In [50]:
df_bevoelkerung.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12544 entries, 0 to 12543
Columns: 223 entries, AGS_12 to BIL_5.8
dtypes: category(8), float64(41), int64(8), object(166)
memory usage: 21.4+ MB

In [61]:
df_bevoelkerung_filter_gemeinde = df_bevoelkerung[df_bevoelkerung['Reg_Hier']=='Gemeinde'].copy()

In [127]:
df_bevoelkerung_filter_gemeinde

,AGS_12,RS_Land,RS_RB_NUTS2,RS_Kreis,RS_VB,RS_Gem,Name,Reg_Hier,AEWZ,DEM_1.1,...,BIL_4.9,BIL_4.10,BIL_5.1,BIL_5.2,BIL_5.3,BIL_5.4,BIL_5.5,BIL_5.6,BIL_5.7,BIL_5.8
2,10010000000,1,0,1,0,0,"Flensburg, Stadt",Gemeinde,82258,82258,...,6200.0,15260.0,71730.0,22450.0,32210.0,6330.0,/,3370.0,6210,/
4,10020000000,1,0,2,0,0,"Kiel, Landeshauptstadt",Gemeinde,235782,235782,...,16290.0,59140.0,207060.0,65000.0,82000.0,23290.0,2660,10690.0,19320,4100
6,10030000000,1,0,3,0,0,"Lübeck, Hansestadt",Gemeinde,210305,210305,...,13790.0,36530.0,183380.0,55270.0,84470.0,17990.0,2250,8490.0,13120,1800
8,10040000000,1,0,4,0,0,"Neumünster, Stadt",Gemeinde,77249,77249,...,4130.0,7650.0,65830.0,19300.0,34770.0,5920.0,660,2630.0,2230,/
11,10510011011,1,0,51,11,11,"Brunsbüttel, Stadt",Gemeinde,12834,12834,...,820.0,910.0,11050.0,3190.0,5810.0,1110.0,/,470.0,290,/
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12538,"1,60775E+11",16,0,77,5009,49,Vollmershain,Gemeinde,329,328,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12539,"1,60775E+11",16,0,77,5009,51,Wildenbörten,Gemeinde,307,307,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12541,"1,60775E+11",16,0,77,5050,12,"Gößnitz, Stadt",Gemeinde,3724,3724,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12542,"1,60775E+11",16,0,77,5050,17,Heyersdorf,Gemeinde,138,139,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12543,"1,60775E+11",16,0,77,5050,39,Ponitz,Gemeinde,1601,1600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [129]:
df_bevoelkerung_filter_gemeinde.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11339 entries, 2 to 12543
Columns: 223 entries, AGS_12 to BIL_5.8
dtypes: category(8), float64(41), int64(8), object(166)
memory usage: 19.8+ MB

In [233]:
df_bevoelkerung_correct = df_bevoelkerung_filter_gemeinde.copy()
df_bevoelkerung_correct = df_bevoelkerung_correct.replace('/',0)
df_bevoelkerung_correct = df_bevoelkerung_correct.replace('-', 0)

In [239]:
df_bevoelkerung_correct.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11339 entries, 2 to 12543
Columns: 223 entries, AGS_12 to BIL_5.8
dtypes: category(8), float64(41), int64(8), object(166)
memory usage: 19.8+ MB

In [229]:
df_bevoelkerung_correct

,AGS_12,RS_Land,RS_RB_NUTS2,RS_Kreis,RS_VB,RS_Gem,Name,Reg_Hier,AEWZ,DEM_1.1,...,BIL_4.9,BIL_4.10,BIL_5.1,BIL_5.2,BIL_5.3,BIL_5.4,BIL_5.5,BIL_5.6,BIL_5.7,BIL_5.8
2,10010000000,1,0,1,0,0,"Flensburg, Stadt",Gemeinde,82258,82258,...,6200.0,15260.0,71730.0,22450.0,32210.0,6330.0,0,3370.0,6210,0
4,10020000000,1,0,2,0,0,"Kiel, Landeshauptstadt",Gemeinde,235782,235782,...,16290.0,59140.0,207060.0,65000.0,82000.0,23290.0,2660,10690.0,19320,4100
6,10030000000,1,0,3,0,0,"Lübeck, Hansestadt",Gemeinde,210305,210305,...,13790.0,36530.0,183380.0,55270.0,84470.0,17990.0,2250,8490.0,13120,1800
8,10040000000,1,0,4,0,0,"Neumünster, Stadt",Gemeinde,77249,77249,...,4130.0,7650.0,65830.0,19300.0,34770.0,5920.0,660,2630.0,2230,0
11,10510011011,1,0,51,11,11,"Brunsbüttel, Stadt",Gemeinde,12834,12834,...,820.0,910.0,11050.0,3190.0,5810.0,1110.0,0,470.0,290,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12538,"1,60775E+11",16,0,77,5009,49,Vollmershain,Gemeinde,329,328,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12539,"1,60775E+11",16,0,77,5009,51,Wildenbörten,Gemeinde,307,307,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12541,"1,60775E+11",16,0,77,5050,12,"Gößnitz, Stadt",Gemeinde,3724,3724,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12542,"1,60775E+11",16,0,77,5050,17,Heyersdorf,Gemeinde,138,139,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12543,"1,60775E+11",16,0,77,5050,39,Ponitz,Gemeinde,1601,1600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Werte mit () in NaN verwandeln

In [235]:
# df_bevoelkerung_correct['DEM_2.7'] =  df_bevoelkerung_correct['DEM_2.7'].apply(lambda x: x.replace('(','').replace(')','')) 
df_bevoelkerung_correct = df_bevoelkerung_correct.replace('\(', np.nan, regex=True)
# df_bevoelkerung_correct = df_bevoelkerung_filter_gemeinde.replace(')',"")

In [178]:
# df_bevoelkerung_correct =  df_bevoelkerung_correct.applymap(lambda x: x.replace('(','').replace(')','')) 
# df_bevoelkerung_correct = df_bevoelkerung_correct.replace('\(.*', "", regex=True).astype(int)
# df_bevoelkerung_correct = df_bevoelkerung_filter_gemeinde.replace(')',"")

In [236]:
df_bevoelkerung_correct

,AGS_12,RS_Land,RS_RB_NUTS2,RS_Kreis,RS_VB,RS_Gem,Name,Reg_Hier,AEWZ,DEM_1.1,...,BIL_4.9,BIL_4.10,BIL_5.1,BIL_5.2,BIL_5.3,BIL_5.4,BIL_5.5,BIL_5.6,BIL_5.7,BIL_5.8
2,10010000000,1,0,1,0,0,"Flensburg, Stadt",Gemeinde,82258,82258,...,6200.0,15260.0,71730.0,22450.0,32210.0,6330.0,0,3370.0,6210,0
4,10020000000,1,0,2,0,0,"Kiel, Landeshauptstadt",Gemeinde,235782,235782,...,16290.0,59140.0,207060.0,65000.0,82000.0,23290.0,2660,10690.0,19320,4100
6,10030000000,1,0,3,0,0,"Lübeck, Hansestadt",Gemeinde,210305,210305,...,13790.0,36530.0,183380.0,55270.0,84470.0,17990.0,2250,8490.0,13120,1800
8,10040000000,1,0,4,0,0,"Neumünster, Stadt",Gemeinde,77249,77249,...,4130.0,7650.0,65830.0,19300.0,34770.0,5920.0,660,2630.0,2230,0
11,10510011011,1,0,51,11,11,"Brunsbüttel, Stadt",Gemeinde,12834,12834,...,820.0,910.0,11050.0,3190.0,5810.0,1110.0,0,470.0,290,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12538,"1,60775E+11",16,0,77,5009,49,Vollmershain,Gemeinde,329,328,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12539,"1,60775E+11",16,0,77,5009,51,Wildenbörten,Gemeinde,307,307,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12541,"1,60775E+11",16,0,77,5050,12,"Gößnitz, Stadt",Gemeinde,3724,3724,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12542,"1,60775E+11",16,0,77,5050,17,Heyersdorf,Gemeinde,138,139,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12543,"1,60775E+11",16,0,77,5050,39,Ponitz,Gemeinde,1601,1600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Check, ob Nummern in Klammern noch vorhanden:

In [237]:
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_colwidth', None)
df_bevoelkerung_correct.loc[df_bevoelkerung_correct['Name']=='Barkenholm', ['DEM_2.7']]

   DEM_2.7
43     NaN

Check, ob *-* noch vorhanden ist

In [238]:
df_bevoelkerung_correct.loc[df_bevoelkerung_correct['Name']=='Bergewöhrden', ['DEM_2.10']]

   DEM_2.10
44        0

### Variable lists

In [9]:
df_predictor_variables = pd.read_csv("Predictor Variables Definition.csv", delimiter= ";")

alternativer Ansatz zum Predictor Variables Definition einlesen (aus Ordner References)

In [248]:
df_predictor_variables = pd.read_excel('../references/Predictor Variables Definition.xlsx')

In [10]:
left_align(df_predictor_variables)

### Data splitting DF Migration

In [11]:
df_migration = df_bevoelkerung_correct[['Reg_Hier','Name','MIG_1.1','MIG_1.2','MIG_1.3','MIG_1.4','MIG_1.5','MIG_1.6','MIG_1.7','MIG_1.8','MIG_1.9','MIG_1.10','MIG_1.11','MIG_2.1','MIG_2.2','MIG_2.3','MIG_2.4','MIG_2.5','MIG_2.6','MIG_2.7','MIG_2.8','MIG_3.1','MIG_3.2','MIG_3.3','MIG_3.4','MIG_3.5']]
df_migration

,Reg_Hier,Name,MIG_1.1,MIG_1.2,MIG_1.3,MIG_1.4,MIG_1.5,MIG_1.6,MIG_1.7,MIG_1.8,...,MIG_2.4,MIG_2.5,MIG_2.6,MIG_2.7,MIG_2.8,MIG_3.1,MIG_3.2,MIG_3.3,MIG_3.4,MIG_3.5
2,Gemeinde,"Flensburg, Stadt",81780.0,68730.0,13050.0,5110,4290,820,7940.0,4340,...,750,1270,2740,2110,1370,13050.0,5850,3760,3420,/
4,Gemeinde,"Kiel, Landeshauptstadt",234550.0,190220.0,44330.0,15950,13100,2850,28380.0,15200,...,3380,3120,8320,10920,1360,44330.0,12450,17530,14320,/
6,Gemeinde,"Lübeck, Hansestadt",208000.0,173030.0,34970.0,12740,10110,2630,22230.0,12780,...,3420,4150,6320,5920,1150,34970.0,13560,13520,7870,/
8,Gemeinde,"Neumünster, Stadt",76280.0,63370.0,12910.0,4370,3630,740,8540.0,4780,...,1130,1250,3180,2120,1150,12910.0,4200,5080,3640,/
11,Gemeinde,"Brunsbüttel, Stadt",12790.0,11040.0,1750.0,430,360,740,1320.0,840,...,1130,1250,570,430,1150,1750.0,420,700,620,/
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12538,Gemeinde,Vollmershain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12539,Gemeinde,Wildenbörten,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12541,Gemeinde,"Gößnitz, Stadt",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12542,Gemeinde,Heyersdorf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12543,Gemeinde,Ponitz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df_migration['MIG_1.4'] = df_migration['MIG_1.4'].astype(float)

C:\Users\NGE02\AppData\Local\Temp\ipykernel_9904\2039448604.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_migration['MIG_1.4'] = df_migration['MIG_1.4'].astype(float)

In [14]:
df_migration['Migrationsquote']  = df_migration['MIG_1.4'].div(df_migration['MIG_1.1'].values)*100
df_migration

C:\Users\NGE02\AppData\Local\Temp\ipykernel_9904\4007659981.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_migration['Migrationsquote']  = df_migration['MIG_1.4'].div(df_migration['MIG_1.1'].values)*100

,Reg_Hier,Name,MIG_1.1,MIG_1.2,MIG_1.3,MIG_1.4,MIG_1.5,MIG_1.6,MIG_1.7,MIG_1.8,...,MIG_2.5,MIG_2.6,MIG_2.7,MIG_2.8,MIG_3.1,MIG_3.2,MIG_3.3,MIG_3.4,MIG_3.5,Migrationsquote
2,Gemeinde,"Flensburg, Stadt",81780.0,68730.0,13050.0,5110.0,4290,820,7940.0,4340,...,1270,2740,2110,1370,13050.0,5850,3760,3420,/,6.248472
4,Gemeinde,"Kiel, Landeshauptstadt",234550.0,190220.0,44330.0,15950.0,13100,2850,28380.0,15200,...,3120,8320,10920,1360,44330.0,12450,17530,14320,/,6.800256
6,Gemeinde,"Lübeck, Hansestadt",208000.0,173030.0,34970.0,12740.0,10110,2630,22230.0,12780,...,4150,6320,5920,1150,34970.0,13560,13520,7870,/,6.125000
8,Gemeinde,"Neumünster, Stadt",76280.0,63370.0,12910.0,4370.0,3630,740,8540.0,4780,...,1250,3180,2120,1150,12910.0,4200,5080,3640,/,5.728894
11,Gemeinde,"Brunsbüttel, Stadt",12790.0,11040.0,1750.0,430.0,360,740,1320.0,840,...,1250,570,430,1150,1750.0,420,700,620,/,3.362002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12538,Gemeinde,Vollmershain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12539,Gemeinde,Wildenbörten,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12541,Gemeinde,"Gößnitz, Stadt",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12542,Gemeinde,Heyersdorf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12543,Gemeinde,Ponitz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Analysis

### Descriptive statistics

### Exploratory data analysis

### Relationships

## Model

### Select model

### Training and validation

### Fit model

### Evaluation on test set

### Save model


Save your model in the folder `models/`. Use a meaningful name and a timestamp.

## Conclusions